#Timg
{
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari */
  transform: rotate(3deg);
}
.ppromo
{
  font-size:32px;
  color: rgb(33, 37, 43);
  font-style: italic;
  font-family: verdana;
  position:relative;
  top:5px;

}
#stihl-model
{
  color:rgb(40, 44, 52);
  font-style: oblique;
  font-family: fantasy;
  font-size:18px;
}
#stihl-h2
{
  color: rgb(243, 122, 31);
  font-style: oblique;
  font-family: fantasy;
  font-size: 32px;
}
.pspecs
{
  color:black;
  font-style: oblique;
  font-family: fantasy;
  font-size:18px;
}
.stihl-model
{
  font-size:24px;
}
#stihl-h4
{
  color: rgb(243, 122, 31);
  font-style: oblique;
  font-family: fantasy;
  font-size: 24px;
}
.sawname
{
  color: rgb(243, 122, 31);
  font-style: oblique;
  font-family: fantasy;
  font-size: 4em;
}
.sawname-black
{
  color: black;
  font-style: oblique;
  font-family: fantasy;
  font-size: 4em;
}
#stihl-h6
{
  display: inline;
  color: rgb(243, 122, 31);
  font-style: oblique;
  font-family: fantasy;
  font-size: 12px;
}
#start-div
{
  background-image: url("resources/startBckTrees.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
}
.row-specs
{
  border-bottom:1px solid orange;
}
.col-specs
{
  border-right: 1px solid orange;
}
div.col
{

  height:100%;
  bottom:0px;
}
.img1
{

}
.img1, .img2, .img3
{
  opacity:0.4;
  transition: opacity 0.5s;
}
.img3
{
  position: relative;
  right:1%;
}
.img1:hover, .img2:hover, .img3:hover
{
  cursor:url("resources/ca2.png"), auto;
  opacity:1;
}
nav
{
  border-bottom:5px solid gray;
}

#announce-1
{
  background-color: rgb(245, 245, 245);

}
.r1
{
  height: 90vh;
}
.r2
{
  height:100vh;
}
.part2
{
  background-image:url("resources/woodbck1.jpg");
  background-size: cover;
}
#btninfo
{
  position:relative;
  top:3px;
  background-color: orange;
  color:black;
  font-style:oblique;
  font-family: fantasy;
  -webkit-transition: color 2s;
  transition: color 2s;
}
#btninfo:hover
{
  color:white;
}
.img1
{
  position:absolute;
  width:160%;
  height:100%;
  bottom:0%;
}
.img2, .img3
{
  position:absolute;
  height:100%;
  width:120%;
  bottom:0%;
}
@media  (max-width: 700px) and (min-width: 400px)
{
  .ppromo
  {
    font-size:16px;
  }
  .img1
  {
    height:50%;
    width:120%;
  }

  .img2, .img3
  {
    height:55%;
    width:110%;
  }
}
@media  (max-width: 400px) and (min-width: 300px)
{
  .sawname
  {
    font-size:2em;
  }
  .ppromo
  {
    font-size:12px;
  }
  .img1
  {
    height:70%;
    width:105%;
  }
  .img2
  {
    right:1px;
  }
  .img2, .img3
  {
    height:65%;
    width:140%;
    bottom:0px;
}
